a {
  text-decoration: none;
  color: inherit;
}

.btn-1 {
  min-width: 200px;
  color: white;
  border: 2px solid green;
  padding: 0.5em 1em;
  background-color: green;
  transition: all 250ms ease-in-out;
  cursor: pointer;
}
.btn-1:hover {
  background-color: hsl(120, 68%, 43%);
  transition: all 350ms ease-in-out;
}
